.backgroundImage {
  background: url("/thumbs-up-tyler-cropped.png") left bottom / 120px no-repeat;
  @media (min-width: theme("screens.lg")) {
    background: url(/thumbs-up-tyler-cropped.png) no-repeat bottom left /
      contain;
  }
}

.gradient {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: calc(50vw + calc(768px / 2) + 150px);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.75) 15%,
    rgba(255, 255, 255, 0.9) 30%,
    rgb(255, 255, 255) 100%
  );
}
