html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", sans-serif;
}

/**
 * The `:focus-within` prevents smooth scrolling with cmd + f.
 * https://css-tricks.com/fixing-smooth-scrolling-with-find-on-page/
 */
html:focus-within {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.not-antialiased {
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
}
